body{
    background-color: #F8F8F8;
    font-family: WorkSans, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    
}

.he-header{
    background-color: #3366cc;
}



.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    
}

.helogo{
    background: #3366cc;
    opacity: 1;
    padding: 0;
}

.hemenu{
    background: #E5EEFB ;
    opacity: 1;
    padding: 4px 0px 3px 10px;
}

.container{
    max-width: 100%;
  
}

.hr {
    width: 100%;
    height: 3px;
    background-color: #069169;
}


.cardrenta{
    background-color: white;
}



.portales {
    width: 25%;

}

.pt-2{

    padding-top: .5rem !important;

}

.pb-2{
    padding-bottom: .5rem !important;
}

.containerbody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    
}

.portcard{

    background-color: #069169;
    align-items: center;
    padding: 20px;
    width: 250px;
    border-bottom: 1px solid gray;
    
}

.portcard img{

    width: 30px;
    height: auto;

}

.portcard a{
    width: 100%;
    line-height: 1.5;
}

.portcard a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.sercard {
    background-color: white;
    align-items: center;
    padding: 10px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    
}

.sercard img{
    width: 30px;
    height: auto;
}

.tituloverde {
    font-weight: bold;
    border-bottom: 3px solid green;
    padding-bottom: 3px;
}

.listaverde li::marker{
    color: green;

}

.sercardcont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.sercard a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.interes{
    padding-top: 10px;
    border-top: 10px solid #f8f8f8;
    background-color: #dff0ff;
    margin: 0;
    width: 100%;
    padding: 30px 26px;
    
}

.interescard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.interescard img {
    width: 30px;
    height: auto;
}

.interesel{
    background-color: dff0ff;
    align-items: center;
    padding: 20px;
    width: 250px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    
}

.interesel a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


